@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-color: rgb(9 9 11);
$dot-color: rgb(99, 102, 241);

$dot-size: 1px;
$dot-space: 36px;

:root {
  color-scheme: dark;
}

body {
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  @apply text-zinc-50;
  &:after {
    content: "";
    @apply absolute inset-0 bg-gradient-radial from-black/40 to-zinc-950 z-[-1];
  }
}

.shadow-bold {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.animate-halo {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.loader {
  width: 10px;
  height: 10px;
  border: 1.75px solid;
  @apply border-indigo-100/80;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
